# Listas - Segunda parte

Coo se ha visto en otros notebooks de este curso, el ciclo for puede actuar a través de una lista, esto se hace através de iteradores en la siguiente celda se muestra un ejemplo

In [ ]:
# Celda 01

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

for color in colores:
    print(color)

Amarillo
Cyan
Magenta
Blanco
Negro
Morado
Azul
Verde
Lila
Rojo

También se puede extraer cada elemento a través del índice de la lista esto se haría como se muestra a continuación

In [ ]:
# Celda 02

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

for index in range(len(colores)):
    print(colores[index])

Amarillo
Cyan
Magenta
Blanco
Negro
Morado
Azul
Verde
Lila
Rojo

# Trabajando con partes de alguna lista

Una característica importante de las listas es que éstas se pueden partir o extraer sólo una parte ellas para poder procesarlas de manera independiente, observe el siguiente código

In [ ]:
# Celda 03

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

colores_primarios = colores[0:3]

colores_otros = colores[0:-3]

print(colores_primarios)

print(colores_otros)

print(colores[-6])

['Amarillo', 'Cyan', 'Magenta']
['Amarillo', 'Cyan', 'Magenta', 'Blanco', 'Negro', 'Morado', 'Azul']
Negro

Se pueden extraer partes de una no importando el subíndice, aunque si no hay valores dentro de los subíndices que ha puesto tendrá un lista vacía como resultado.

In [ ]:
# Celda 04

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

otros_colores = colores[3:8]

print(otros_colores)

otros_colores = colores[8:10]

print(otros_colores)

['Blanco', 'Negro', 'Morado', 'Azul', 'Verde']
['Lila', 'Rojo']

En caso que no se haya definido un índice inicial y no uno final, se tomara del elemento que se haya indicado hasta el final.  Tal como se muestra en la siguiente celda

In [ ]:
# Celda 05

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

otros_colores = colores[3:]

print(otros_colores)

['Blanco', 'Negro', 'Morado', 'Azul', 'Verde', 'Lila', 'Rojo']

En caso que no se haya especificado índice inicial y sólo final tomará desde el inicio de la lista hasta la posición - 1 que haya asignado.

In [ ]:
# Celda 06

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

otros_colores = colores[:5]

print(otros_colores)

['Amarillo', 'Cyan', 'Magenta', 'Blanco', 'Negro']

Si no se han especificado ninguno de los dos índices se tomara toda la listo, esto es muy útil cuando se requiere copiar toda una lista

## List comprehension

Ahora suponga que quiere definir una lista y después tomar cada elemento y elevarlo al cuadrado, uno de los enfoques sería, primero generar una lista o vector y después tomar cada elemento del vector y hacer la operación matemática, tal como se muestra en la siguiente celda

In [ ]:
# Celda 07

x = list(range(0,11,1))
y = []
print(x)
for value in x:
    square = value**2
    y.append(square)
print(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

La segunda opción es utilizar el enfoque que se llama `list comprehension`, el mismo código se muestra a continuación en la siguiente celda.

In [ ]:
# Celda 08

y = [value**2 for value in range(1,11,1)]
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Utilizando las listas para poder  hacer asignaciones mútiples

Considere el siguiente ejemplo

In [ ]:
# Celda 09

valores = [4,8,16]

numero, doble,cuadrado = valores

print(numero)
print(doble)
print(cuadrado)

4
8
16

Observe que se ha hecho una asignación triple, este tipo de situaciones son muy útiles al momento de poder hacer funciones en las que se requiere que regresen varios valores de forma mútliple.  Observe el siguiente código

In [ ]:
# Celda 10

def calculos(valor):
    cuadrado = valor**2
    cubo = valor **3
    raiz = valor**(1/2)
    return [cuadrado, cubo, raiz]

cuadrado, cubo, raiz = calculos(4)

print("El cuadrado de 4 es: ", cuadrado)
print("El cubo de 4 es: ",cubo)
print("La raiz de 4 es: ", raiz)

El cuadrado de 4 es:  16
El cubo de 4 es:  64
La raiz de 4 es:  2.0

# Operadores extras y muy útiles en listas

## max()
La función `max()` regresa el valor máximo de una lista NUMERICA y de una lista que contiene texto regesará el valor que esté en el último lugar si se organiza la lista en orden alfabético

In [ ]:
# Celda 11

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

print(max(colores))

Verde

In [ ]:
# Celda 12

valores = [ 1, 7, 9 , 92,2, -1, -38]
print(max(valores))

92

## min()
El operador min regresa el valor mínimo  de una lista

In [ ]:
# Celda 13

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

print(min(colores))

Amarillo

In [ ]:
# Celda 14

valores = [ 1, 7, 9 , 92,2, -1, -38]
print(min(valores))

-38

## sum()
Resgresa la suma de los elementos de una lista, **SOLO FUNCIONA CON LISTAS CUYOS ELEMENTOS SON NUMÉRICOS**

In [ ]:
# Celda 15

valores = [ 1, 7, 9 , 92,2, -1, -38]
sum(valores)

72

## `in` y `not in`
Estos operadores nos ayudan a verficar si algún elemento está dentro de la lista o no, observe el comportamiento en la siguient celda

In [ ]:
# Celda 16

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

print('beige' in colores)

False

In [ ]:
# Celda 17

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

print('beige' not in colores)

True

## index 

Este método de las listas ayuda regresa el índice de un elemento si es que el valor de dicho elemento está dentro de la lista, observe el siguiente ejemplo

In [ ]:
# Celda 18

colores = ['Amarillo','Cyan','Magenta','Blanco','Negro', 'Morado','Azul', 'Verde','Lila','Rojo']

print(colores.index('Magenta'))

print(colores.index('Beige'))

2

ValueError: 'Beige' is not in list

# Estructuras de datos mutables e inmutables

Las listas no son el único tipo de estructuras de datos, existen las cadenas de caracteres o strings, entre otras estructuras, sin embargo, se pueden clasificar en dos grandes grupos, estructuras mutables e inmutables.

Una lista es una estructura mutable, ua que aunque se haya declarado e inicializado los elementos,  éstos pueden cambiar uno por uno o toda la lista, esta característica es propia de de las **ESTRUCTURAS DE DATOS MUTABLES**. Se han visto varios ejemplos a lo largo de éste notebook y otros. 


Una **Estructura de datos inmutable** es aquella en la que una vez que se ha declarado e inicializada nose puden cambiar elemento por elemento sino que se debe de modificar toda la estructura de datos, un ejemplo de estas estructurasd e datos son los `strings` y las `tuplas`, que de manera no formal y muy burda se puede decir que son las listas inmutables, al ser inmutables hay algunos elementos o métodos de las listas que no aplican para las tuplas. 

En las siguientes celdas se muestra la inumtabilidad de los `strings`.

In [ ]:
# Celda 19

string_01 = 'Hola muchachos'
string_01[3] = 'k'

TypeError: 'str' object does not support item assignment

In [ ]:
# Celda 20

string_01 = 'Hola muchachos'
print(string_01)

string_01 = 'Python programming'
print(string_01)

Hola muchachos
Python programming

# Tuplas
Como ya se ha mencionado las tuplas son estructuras numéricas inmutables, la sintaxis para definir una tupla es muy similar a las listas, sólo que en vez de utilizar corchetes (`[ ]`), se utilizarán los paréntesis `(  )`.

miTupla = (valor1, valor2, valor3)

In [ ]:
Tupla_01 = (6,'hola',8)
print(Tupla_01)

(6, 'hola', 8)

In [ ]:
Tupla_01 = (6,'hola',8)
Tupla_01[1] = 5
print(Tupla_01)

TypeError: 'tuple' object does not support item assignment

In [ ]:
Tupla_01 =(6, 8, 10)
print(Tupla_01)

Tupla_01 = (5,6)
print(Tupla_01)

(6, 8, 10)
(5, 6)

# Ejercicios
1.- Escribir un programa para comparar y obtener la diferencia de dos listas.

2.- Escribir un programa que lea una lista de 10 elementos y que indique el segundo número menor de la lista.

3.- Escribir un programa que cuente la frecuencia de los elementos de una lista. 

4.- Escribir un programa que muestre los elementos que se repiten en dos listas de 20 elementos cada una, la lista debe ser llenada a través del teclado.

In [14]:
#ejercicio 1
x = ["luis","paco","robert","gala"]
y = ["luis","bryan","esteban", "gala"]

print("Teniendo la siguiente lista 1: " + str(x))
print("Teniendo la siguiente lista 2: " + str(y))

x = [x for x in x if x not in y]

print("La diferencia de las dos listas es la siguiente: " + str(x))

Teniendo la siguiente lista 1: ['luis', 'paco', 'robert', 'gala']
Teniendo la siguiente lista 2: ['luis', 'bryan', 'esteban', 'gala']
La diferencia de las dos listas es la siguiente: ['paco', 'robert']

In [15]:
#ejercicio 2
lista = [7, 2, 9, 1, 16, 6, 28, 3, 8, 22]
print("Teniendo la siguiente lista: " + str(lista))
minimo = min(lista)
lista.remove(minimo) 
minimo1 = min(lista)
print("El segundo número menor de la lista es: " + str(minimo1))
lista.append(minimo)

Teniendo la siguiente lista: [7, 2, 9, 1, 16, 6, 28, 3, 8, 22]
El segundo número menor de la lista es: 2

In [9]:
#ejercicio 3
lista = [7, 2, 7, 9, 7, 2, 4, 1, 3, 6, 3, 9, 4, 5, 1, 1]
print("Teniendo la siguiente lista: " + str(lista))
x = input("Ingrese el número a contar: ")
conteo = lista.count(int(x))

print("El número que ingreso aparece " + str(conteo) + " en la lista.")

Teniendo la siguiente lista: [7, 2, 7, 9, 7, 2, 4, 1, 3, 6, 3, 9, 4, 5, 1, 1]
Ingrese el número a contar: 5
El número que ingreso aparece 1 en la lista.

In [ ]:
#ejercicio 4
lista1 = []
for x in range (20):
  valor1=int(input("Ingrese una lista de numeros:"))
  lista1.append(valor1)
print(lista1)
lista2 = []
for y in range (20):
  valor2=int(input("Ingrese una lista de numeros:"))
  lista2.append(valor2)
print(lista2)

lista3 = set(lista1)
lista4 = set(lista2)
lista5 = lista3&lista4
print(f"Estos son los numeros que estan en ambas listas")
print(lista5)